@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --default-color-body-rgb: 56, 54, 54
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--default-color-body-rgb));
  font-size: 14px;
  background: #ffffff;
}

/* .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
} */


h1 {
  @apply text-4xl font-bold mb-4;
}

h2 {
  @apply text-xl font-bold mb-2;
}

h3 {
  @apply text-lg font-bold mb-2;
}

h4 {
  @apply text-sm font-bold mb-2;
}

h5 {
  @apply text-sm font-bold mb-2;
}

h6 {
  @apply text-sm font-bold mb-2;
}

p {
  @apply mb-4
}

html {
  scroll-behavior: smooth;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-wrapper {
  height: auto !important;
}

.iframeContainer iframe {
  width: 100%;
}


ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .modal-overlay ::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .modal-overlay ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .modal-overlay ::-webkit-scrollbar-thumb {
    background: #E37A20;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

}

figcaption {
  text-align: center;
}